In [24]:
# How to use access billboard charts:
# https://github.com/guoguo12/billboard-charts
# "pip install billboard.py"

#dependencies
import billboard
import pandas as pd

In [62]:
#testing
#putting a date beyond the current week throws an index error
chart = billboard.ChartData('hot-100', date="2021-05-31")
chart.title
song = chart[3]
song.title
print(song.rank)

4

In [31]:
# PLAN:
# billboard has weekly charts dated for saturdays. 
# loop through saturdays for the last 5 years (in YYYY-MM-DD format) and collect Hot 100 charts
# save into pandas dataframe
# export to csv
# #

In [63]:
#create saturday list
saturdays = pd.date_range(start=str(2017), end=str(2018), freq='W-SAT').strftime('%Y-%m-%d').tolist()

#test size
#saturdays = ["2021-06-12", "2021-06-05"]

In [68]:
data = {"Date":[], "Title": [], "Artist":[], "Rank": [], "IsNew": []}
for saturday in saturdays:
    try:
        chart = billboard.ChartData('hot-100', date=saturday)
        date = chart.date
        for song in chart:
            data["Date"].append(date)
            data["Title"].append(song.title)
            data["Artist"].append(song.artist)
            data["Rank"].append(song.rank)
            data["IsNew"].append(song.isNew)
    except:
        print("exception thrown")
        break
print("FINISHED")

exception thrown
FINISHED

In [70]:
#convert to dict of lists to dataframe
hot_100_2017_df = pd.DataFrame(data)
hot_100_2017_df

,Date,Title,Artist,Rank,IsNew
0,2016-01-02,Hello,Adele,1,False
1,2016-01-02,Sorry,Justin Bieber,2,False
2,2016-01-02,Hotline Bling,Drake,3,False
3,2016-01-02,Love Yourself,Justin Bieber,4,False
4,2016-01-02,What Do You Mean?,Justin Bieber,5,False
...,...,...,...,...,...
12495,2018-05-19,I Do,Cardi B Featuring SZA,96,False
12496,2018-05-19,Mercy,Brett Young,97,True
12497,2018-05-19,Preach,YoungBoy Never Broke Again,98,True
12498,2018-05-19,Red Roses,Lil Skies Featuring Landon Cube,99,False
12499,2018-05-19,When We,Tank,100,False

In [71]:
#put it in a csv
hot_100_2016_df.to_csv("Data/billboard_hot100_2017.csv", index=False)