In [12]:
import os
import glob
import pandas as pd
import scipy.stats as st
import numpy as np

In [13]:
# Study data files
path_1 = "Data/billboard_hot100_2016.csv"
path_2 = "Data/billboard_hot100_2017.csv"
path_3 = "Data/billboard_hot100_2018.csv"
path_4 = "Data/billboard_hot100_2019.csv"
path_5 = "Data/billboard_hot100_2020.csv"
path_6 = "Data/billboard_hot100_2021.csv"

billboard_hot100_2016 = pd.read_csv(path_1)
billboard_hot100_2017 = pd.read_csv(path_2)
billboard_hot100_2018 = pd.read_csv(path_3)
billboard_hot100_2019 = pd.read_csv(path_4)
billboard_hot100_2020 = pd.read_csv(path_5)
billboard_hot100_2021 = pd.read_csv(path_6)

combined = [billboard_hot100_2016, billboard_hot100_2017,billboard_hot100_2018, billboard_hot100_2019, billboard_hot100_2020, billboard_hot100_2021]

# Combine the data into a single dataset
# Display the data table for preview
Combine_df = pd.concat(combined, ignore_index = True)
Combine_df

,Date,Title,Artist,Rank,IsNew
0,2016-01-09,Hello,Adele,1,False
1,2016-01-09,Sorry,Justin Bieber,2,False
2,2016-01-09,Love Yourself,Justin Bieber,3,False
3,2016-01-09,Hotline Bling,Drake,4,False
4,2016-01-09,What Do You Mean?,Justin Bieber,5,False
...,...,...,...,...,...
28495,2021-06-12,All I Know So Far,P!nk,96,False
28496,2021-06-12,Hold On,Justin Bieber,97,False
28497,2021-06-12,Wasted On You,Morgan Wallen,98,False
28498,2021-06-12,Outside,MO3 X OG Bobby Billions,99,True
28499,2021-06-12,Botella Tras Botella,Gera MX + Christian Nodal,100,False