In [1]:
import os
import glob
import pandas as pd
import scipy.stats as st
import numpy as np

In [2]:
# Study data files
path_1 = "Data/billboard_hot100_2016.csv"
path_2 = "Data/billboard_hot100_2017.csv"
path_3 = "Data/billboard_hot100_2018.csv"
path_4 = "Data/billboard_hot100_2019.csv"
path_5 = "Data/billboard_hot100_2020.csv"
path_6 = "Data/billboard_hot100_2021.csv"

billboard_hot100_2016 = pd.read_csv(path_1)
billboard_hot100_2017 = pd.read_csv(path_2)
billboard_hot100_2018 = pd.read_csv(path_3)
billboard_hot100_2019 = pd.read_csv(path_4)
billboard_hot100_2020 = pd.read_csv(path_5)
billboard_hot100_2021 = pd.read_csv(path_6)

combined = [billboard_hot100_2016, billboard_hot100_2017,billboard_hot100_2018, billboard_hot100_2019, billboard_hot100_2020, billboard_hot100_2021]

# Combine the data into a single dataset
# Display the data table for preview
Combine_df = pd.concat(combined, ignore_index = True)
Combine_df

,Date,Title,Artist,Rank,Is_New,Image,Peak_Posistion,Last_Position,Weeks
0,2016-01-02,Hello,Adele,1,False,NaN,1,1,8
1,2016-01-02,Sorry,Justin Bieber,2,False,NaN,2,2,8
2,2016-01-02,Hotline Bling,Drake,3,False,NaN,2,3,20
3,2016-01-02,Love Yourself,Justin Bieber,4,False,NaN,4,5,5
4,2016-01-02,What Do You Mean?,Justin Bieber,5,False,NaN,1,4,16
...,...,...,...,...,...,...,...,...,...
28595,2021-06-19,Things A Man Oughta Know,Lainey Wilson,96,False,NaN,93,93,4
28596,2021-06-19,Country Again,Thomas Rhett,97,False,NaN,73,89,6
28597,2021-06-19,Drunk (And I Don't Wanna Go Home),Elle King & Miranda Lambert,98,False,NaN,79,92,7
28598,2021-06-19,If You Want To,Lil Baby & Lil Durk,99,True,NaN,99,0,1
28599,2021-06-19,Seeing Green,"Nicki Minaj, Drake & Lil Wayne",100,False,NaN,12,67,4

In [3]:
Combine_df.to_csv("Data/billboard_hot100_16-21.csv", index=False)